.left-5px{
	margin-left: 5px;
}

.left-10px{
	margin-left: 10px;
}

.logo-tasarim{
	color:white;
	font-size: 25px;
	font-family: verdana;
	margin-top: 20px;
}

.margin-top-10px{
	margin-top: 10px;
}

.margin-bottom-20px{
	margin-bottom: 20px;
}

.color-white{
	color: white;
}

